body {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 40px;
  color: #5a5a5a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffffff;
}

.barra {
  background-color: #0063b1;
}

.padre i {
  margin-right: 1.5rem;
}

.navegacion {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.navegacion a {
  padding: 1rem;
  display: block;
}

@media (min-width:768px) {
  .navegacion {
    flex-direction: row;
  }
}

.enlaces {
  overflow: hidden;
}

.enlaces:target .submenu {
  max-height: 300px;
}

@media (min-width:768px) {
  .enlaces {
    flex: 1;
    position: relative;
    overflow: visible;
  }

  .enlaces .submenu {
    position: absolute;
    width: 100%;
  }
}

.submenu {
  background-color: #4c4c4c;
  max-height: 0;
  transition: .8s;
}

@media (min-width:768px) {
  .submenu a {
    display: none;
  }

  .enlaces:target .submenu a {
    display: block;
  }
}

.submenu a:hover {
  background-color: rgb(58, 58, 57);
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner>.item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
 -------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
 ------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
 -------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*hola mundo */
.redes {
  position: static;
  left: 0;
  top: 200px;
  z-index: 2000;

}

.redes ul {
  list-style: none;
}

.redes ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 600ms ease;
  border-radius: 99%;
}
.redes ul li .icon-facebook {
  background: blue;
}
.redes ul li .icon-whatsapp {
  background: lawngreen;
}
.redes ul li .icon-instagram {
  background: blue;
}


/*hola mundo */
.social {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 2000;
}

.social ul {
  list-style: none;
}

.social ul li a {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  transition: all 600ms ease;
}

.social ul li .icon-facebook {
  background: blue;
}

.social ul li .icon-whatsapp {
  background: lawngreen;
}

.social ul li .icon-youtube2 {
  background: red;
}

.social ul li .icon-instagram {
  background: blue;
}

.social ul li .icon-twitter {
  background: red;
}

.social ul li a:hover {
  padding: 10px 30px;
  background: #000;

}

.duelo {
  border-radius: 50%;
}

.Red {
  color: red;
}

.Red:hover {
  color: black;
}
